*   {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary: rgba(68, 88, 119, 1);
    --secondary: rgba(146, 204, 206, 1);
    --tertiary: rgba(49, 52, 61, 1);
    --dark: rgba(28, 29, 33, 1);
    --light: rgba(238, 238, 247, 1);
  }

body   {
    background-color: var(--light);
    color: var(--secondary);
}

header  {
    background-color: var(--tertiary);
    padding: 5px;
    display: flex;
    flex-flow: row;
}

header h1   {
    padding: 5px;
    margin: 0;
    background-color: var(--secondary);
    color: var(--tertiary);
}