*   {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary: rgba(68, 88, 119, 1);
    --secondary: rgba(146, 204, 206, 1);
    --tertiary: rgba(49, 52, 61, 1);
    --dark: rgba(28, 29, 33, 1);
    --light: rgba(238, 238, 247, 1);
  }

body   {
    background-color: var(--light);
    color: var(--primary);
    font-family: Arial, Helvetica, sans-serif;
}

header  {
    background-color: var(--tertiary);
    padding: 15px 0 15px 0;
    display: flex;
    flex-flow: row; 
    justify-content: flex-start;
    align-items: center;
}

header h1   {
    font-size: 60px;
    padding: 5px 5px 5px 8%;
    margin: 0;
    background-color: var(--secondary);
    color: var(--tertiary);
}

header nav ul li {
    display: inline;
}

header nav  {
    padding: 0 0 0 40%;
}

header a  {
    text-decoration: none;
    color: var(--secondary);
    font-size: 24px;
    border-bottom: 3px solid var(--secondary);
    margin: 5px;
}

.hero {
    background-image: url("../images/02-hero-bg.jpg");
    background-size: cover;
    background-position: cover;
    padding: 10% 5% 15px 10%;
    display: flex;
    flex-direction: row-reverse;
}

.hero h3    {
    padding: 5px;
    font-size: 30px;
    color: var(--tertiary);
    background: var(--secondary);
}

.section-title  {
    color: var(--primary);
    font-size: 45px;
    border-right: 3px solid var(--primary);
    padding: 15px;
}

.section-content    {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: row;
}

.sections   {
    margin: 10px 3%;
    padding: 10px 3%;
}

.section-content .listings  {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.section-content .listings ul li a {
    color: var(--tertiary);
    font-size: 22px;
    font-weight: lighter;
    margin: 5px 30px;
    padding: 0px;
    border-bottom: 3px solid var(--primary);
    text-decoration: none;
}

.section-content .listings ul li    {
    display: inline;
}